# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
node_modules
package-lock.json
package.json

# Testing
/mongo-data

# Dependencies
/plantpulse/node_modules
/server/node_modules
/.vscode
/openapi