.App {
  text-align: center;
  margin: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 300px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
}

.water-level-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.raindrop-icon {
  font-size: 24px;
  color: #61dafb;
  margin-bottom: 10px;
}

.water-level-meter {
  position: relative;
  width: 50px;
  height: 300px;
  background-color: lightgrey;
  border-radius: 10px;
  overflow: hidden;
}

.water-level-fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: blue;
  border-radius: 5px 5px 0 0;
  transition: height 0.3s ease-in-out;
}

.level-indicator {
  position: absolute; 
  width: 70px;
  height: 2px;
  background-color: black;
}

.min-line {
  font-weight: bold;
  color: darkred;
  background-color: darkred; 
}

.max-line {
  font-weight: bold;
  color: gray;
  background-color: gray;
}




